index-cloud-ens-nuxeo/index-cloud-ens-nuxeo-custom/src/main/resources/schemas/index-classifiers.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nxs="http://www.nuxeo.org/ecm/schemas/index/classifiers/"
           targetNamespace="http://www.nuxeo.org/ecm/schemas/index/classifiers/">

    <xs:include schemaLocation="base.xsd"/>

    <xs:element name="documentTypes" type="nxs:stringList"/>
    <xs:element name="levels" type="nxs:stringList"/>
    <xs:element name="subjects" type="nxs:stringList"/>
    <xs:element name="keywords" type="nxs:stringList"/>
</xs:schema>
